<%- include('header') %>
<!-- start: content -->

<div class="content">
    <input class="largeButton" type="button" value="Vissza a főoldalra" onclick="location.href='/';">
    <h2>Eszköz szerkesztése</h2>
    <div id="szerkeszt" style="overflow-x:auto;">
        <form>
        <table class="table" style="display: block">
            <tbody>
            <tr>
                <td>Név</td>
                <td><input type="text" value="<%= device.name %>"></td>
            </tr>
            <tr>
                <td>Márka</td>
                <td><input type="text" value="<%= device.brand %>"></td>
            </tr>
            <tr>
                <td>Típus</td>
                <td>
                    <select>
                        <option value="hang" <%= device.type == 'hang' ? 'selected="selected"' : '' %>>hang</option>
                        <option value="fény" <%= device.type == 'fény' ? 'selected="selected"' : '' %>>fény</option>
                        <option value="látvány" <%= device.type == 'látvány' ? 'selected="selected"' : '' %>>látvány</option>
                        <option value="dekoráció" <%= device.type == 'dekoráció' ? 'selected="selected"' : '' %>>dekoráció</option>
                        <option value="szórakoztató" <%= device.type == 'szórakoztató' ? 'selected="selected"' : '' %>>szórakoztató</option>
                        <option value="beléptető" <%= device.type == 'beléptető' ? 'selected="selected"' : '' %>>beléptető</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Költség</td>
                <td><input type="number" value="<%= device.cost %>"></td>
            </tr>
            <tr>
                <td>Dátum</td>
                <td><input type="date" value="<%= device.purchaseDate %>"></td>
            </tr>
            </tbody>
        </table>
        <input class="largeButton delete" type="submit" value="Törlés" formaction="/device/delete" formmethod="post">
        <input class="largeButton save" type="submit" value="Mentés" formaction="/device/edit" formmethod="post">
        </form>

    </div>
</div>
<!-- end: content -->
<%- include('footer') %>