<%- include('header') %>
<!-- start: content -->
<div class="content">
    <form name="dateForm" action="/" method="get">
        <h2>Elérhető eszközök: <input name="atDate" type="date" value="<%= atDate %>" onchange="document.dateForm.submit();"></h2>
    </form>
    <% if (devices.length > 0) { %>
    <form action="/order/reserve" method="post">
    <div style="overflow-x:auto;">
        <table class="table">
            <thead>
            <tr>
                <th>Név</th>
                <th>Márka</th>
                <th>Típus</th>
                <th>Költség</th>
                <th>Vásárlás</th>
                <th>Foglal</th>
            </tr>
            </thead>
            <tbody>

                <% devices.forEach(function(item){ %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.brand %></td>
                    <td><%= item.type %></td>
                    <td><%= item.cost %></td>
                    <td><%= item.purchaseDate %></td>
                    <td><input type="checkbox" name="selected" value="<%= item.id%>"/></td>
                </tr>
                <% }); %>

            </tbody>
        </table>
    </div>
    <div class="rightSide">
        <input class="largeButton" type="submit" value="Foglal">
    </div>
    </form>
    <% } else { %>
        <p>A kiválasztott napon minden eszközünk foglalt. Kérjük válasszon más napot.</p>
    <% } %>
    <input type="button" value="Megrendelés lista" onclick="location.href='/order/list';">
    <input type="button" value="Eszközök szerkesztése" onclick="location.href='/login';">
</div>
<!-- end: content -->
<%- include('footer') %>