<%- include('header') %>
<!-- start: content -->

<div class="content" xmlns="http://www.w3.org/1999/html">
    <h2>Kiválasztott eszközök:</h2>
    <form action="/order/finalize" method="post">
    <div style="overflow-x:auto;">
        <table class="table">
            <thead>
            <tr>
                <th>Név</th>
                <th>Márka</th>
                <th>Típus</th>
                <th>Költség</th>
                <th>Vásárlás</th>
                <th>Foglal</th>
            </tr>
            </thead>
            <tbody>
                <% devices.forEach(function(item){ %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.brand %></td>
                    <td><%= item.type %></td>
                    <td><%= item.cost %></td>
                    <td><%= item.purchaseDate %></td>
                    <td><input type="checkbox" name="selected" value="<%= item.id %>" checked/></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <div title="megrendelo">
        <h2>Megrendelő adatai:</h2>
        <div style="overflow-x:auto;">
            <table>
                <tbody>
                <tr>
                    <td>Név</td>
                    <td><input name="name" type="text"></td>
                </tr>
                <tr>
                    <td>Dátum</td>
                    <td><input name="date" type="date"></td>
                </tr>
                <tr>
                    <td>Helyszín</td>
                    <td><input name="place" type="text"></td>
                </tr>
                <tr>
                    <td>Keretösszeg</td>
                    <td><input name="money" type="number"></td>
                </tr>
                <tr>
                    <td>Vendégek</td>
                    <td><input name="guestCount" type="number"></td>
                </tr>
                <tr>
                    <td>Megjegyzés</td>
                    <td><textarea name="comment"></textarea></td>
                </tr>
                </tbody>
            </table>
        </div>
        <input class="largeButton" type="submit" value="Véglegesít">
    </div>
    </form>
</div>

<!-- end: content -->
<%- include('footer') %>